[Unit]
Requires=multi-user.target

[Service]
Type=oneshot
User=chip
ExecStart=/bin/bash -c 'rm $HOME/.pocketchip-batt/warn*'

[Install]
WantedBy=multi-user.target
