[Unit]
Requires=multi-user.target

[Service]
Type=oneshot
User=chip
ExecStart=/bin/sh -c 'rm -f ~/.pocketchip-batt/warn*'

[Install]
WantedBy=multi-user.target
