[Unit]
Description=15% battery warning polling

[Service]
Type=oneshot
User=chip
ExecStart=/bin/bash -c 'if [ $(echo " $(cat /usr/lib/pocketchip-batt/voltage) < 3250" | bc ) -eq 1 ]; then systemctl poweroff; fi'
